<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="" method="post" enctype="multipart/form-data">
      <label for="name">Name:</label>
      <input name="name" id="name" required value="<%= name %>" type="text" />
      <label for="description">Description:</label>
      <input
        type="text"
        id="description"
        name="description"
        required
        value="<%= description %>"
      />
      <label for="category"></label>
      <select name="category" id="category">
        <% for(const cat of categories){ %>
        <option value="<%= cat._id %>"><%= cat.name %></option>
        <% } %>
      </select>
      <label for="image">Upload image:</label>
      <input type="file" name="image" id="image" required />

      <label for="price">Price</label>
      <input
        type="number"
        name="price"
        id="price"
        required
        value="<%= price %>"
      />
      <label for="quantity">Quantity:</label>
      <input
        type="number"
        name="quantity"
        id="quantity"
        required
        value="<%= quantity %> "
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
