<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %> <%- include('./partials/navbar.ejs')
    %>
    <h1><%= title %></h1>
    <form class="form" action="" method="post" enctype="multipart/form-data">
      <label for="name">Product name:</label>
      <input name="name" id="name" required value="<%= name %>" type="text" />
      <label for="description">Product description:</label>
      <input
        type="text"
        id="description"
        name="description"
        required
        value="<%= description %>"
      />
      <label for="category">Category:</label>
      <select name="category" id="category">
        <% for(const cat of categories){ %>
        <option value="<%= cat._id %>"><%= cat.name %></option>
        <% } %>
      </select>
      <label for="image">Upload image:</label>
      <input type="file" name="image" accept="image/*" id="image" required />

      <label for="price">Price</label>
      <input
        type="number"
        step="0.01"
        min="0"
        name="price"
        id="price"
        required
        value="<%= price %>"
      />
      <label for="quantity">Quantity:</label>
      <input
        type="number"
        name="stock"
        id="stock"
        min="0"
        step="1"
        required
        value="<%= stock %>"
      />
      <button type="submit">Submit</button>
    </form>
    <% if(errors){ %>
    <ul>
      <% for(const err of errors){ %>
      <li><%= err.msg %></li>
      <% } %>
    </ul>

    <% } %>
    <script>
      const fileInput = document.getElementById('image');

      input.addEventListener('change', (event) => {
        const target = event.target;
        if (target.files && target.files[0]) {
          const maxAllowedSize = 16 * 1024 * 1024;
          if (target.files[0].size > maxAllowedSize) {
            alert('Maximum file size is 16MB');
            target.value = '';
          }
        }
      });
    </script>
  </body>
</html>
